/*

Styling the counter itself.
Set image paths accordingly.

THIS YOU NEED TO KEEP.

*/

.cd {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.t {
  background: url(https://widadi.000webhostapp.com/mymobile/f_img/digits-top.png) 0 0
    no-repeat;
  width: 53px;
  height: 39px;
}
.b {
  background: url(https://widadi.000webhostapp.com/mymobile/f_img/digits-bottom.png) 0 0
    no-repeat;
  width: 53px;
  height: 64px;
}
.s {
  background: url(https://widadi.000webhostapp.com/mymobile/f_img/comma.png) 2px 75px
    no-repeat;
  width: 12px;
  height: 100px;
}
